.DS_Store
*.pyc
*$py.class
*~
.*.sw[pon]
dist/
*.egg-info
*.egg
*.egg/
*.eggs/
build/
.build/
_build/
pip-log.txt
.directory
erl_crash.dump
*.db
Documentation/
.tox/
.ropeproject/
.project
.pydevproject
.idea/
.coverage
celery/tests/cover/
.ve*
cover/
.vagrant/
.cache/
htmlcov/
coverage.xml
test.db
pip-wheel-metadata/
.idea
.ipynb_checkpoints
.mypy_cache
.vscode/settings.json
__pycache__
.pytest_cache
htmlcov
dist
site
.netlify
log.txt
env3.*
env
.env
.*.env
docs_build
venv
docs.zip
archive.zip
back
*.log
*.pickle
# vim temporary files
.*.sw?

# Cert file
mongo.crt

# Public upload files
data

# IDEs
.vscode

# Scraper build files
src/core/celery/scraper_tasks/*
!src/core/celery/scraper_tasks/__init__.py
!src/core/celery/scraper_tasks/__main__.py
!src/core/celery/scraper_tasks/templates