[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
onesecmail = "*"
pymongo = "*"
faker = "*"
reverse-geocoder = "*"
selenium = "*"
undetected-chromedriver = "*"
bs4 = "*"
lxml = "*"
deathbycaptcha = "*"
peewee = "*"
psycopg2-binary = "*"
stem = "*"

[dev-packages]

[requires]
python_version = "3.8"
